@namespace Dxura.Darkrp.UI
@inherits Panel

<root class="hud middle with-padding with-px-lg with-background flex justify-center align-center column @BuildClass()" style="top: 75%">
	<label class="emphasis">@Status</label>
	<ProgressBar Value="@( Progress * 100 )" width="100"/>
</root>

@code
{
	public Player Player => PlayerState.Local.Player;
	public string Status { get; set; } = "";
	public float Progress = 0.0f;

	private bool IsActive { get; set; }

	protected override int BuildHash()
	{
		return HashCode.Combine( Status, Progress, IsActive );
	}

	public override void Tick()
	{
		IsActive = false;

		if ( !Player.IsValid() )
			return;
	}

	private string BuildClass()
	{
		return IsActive ? "visible" : "hidden";
	}
}
