Toast {
  pointer-events: none;
  position: absolute;
  top: 10%;
  font-size: 50px;


  .background {
    position: absolute;
    opacity: 0.1;
  }

  text-transform: uppercase;

  overflow: hidden;
  z-index: 25;

  &.Generic {
    background-color: rgba( black, 0.25 );
  }

  &.Error {
    background-color: #ff0000;
    color: #ffffff;
  }
}
