Crosshair {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 20px;

  .crosshair {
    font-size: 30px;
    font-family: Poppins, serif;
    color: #fff;
  }
}