Info {
	.adaptive-display {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.75);
		backdrop-filter: blur(10px);
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 5vh;
		color: white;
		font-family: Arial, sans-serif;
	}

	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	br{
		padding: 0.5%;
	}

	.header {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1vh;
		padding: 2%;
		margin-bottom: 5%;
	}

	h1 {
		font-size: 20vh;
		font-weight: 900;
		margin: 0;
		letter-spacing: 0.5vh;
		text-shadow: 0 0 4vh rgba(33, 150, 243, 0.5);
	}

	h2 {
		font-size: 5vh;
		margin: -50px;
		font-weight: normal;
		color: rgb(33, 150, 243);
	}

	.info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;  /* This will center the text horizontally */
		gap: 2vh;
		font-size: 5vh;
		color: rgba(255, 255, 255, 0.9);
	}

	.info p {
		margin: 0;
	}

	.controls {
		display: flex;
		gap: 2vh;
		font-size: 4vh;
		color: rgba(255, 255, 255, 0.8);
	}

	.controls p {
		margin: 0;
		background-color: #1d2028;
		padding: 0.5%;
		border-radius: 10%;
	}

	.warning {
		color: rgb(236, 39, 58);
		font-weight: bold;
		font-size: 3.2vh;
		max-width: 80%;
		margin: 0;
		padding: 0;
	}

	.beg {
		color: rgb(237, 255, 13);
		font-weight: bold;
		font-size: 3.2vh;
		max-width: 80%;
		margin: 0;
		padding: 0;
	}

	.footer {
		position: absolute;
		bottom: 2vh;
		font-size: 5vh;
		color: rgba(255, 255, 255, 0.5);
		text-align: center;
	}

}