@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Dxura.Darkrp.UI

<root>
    <div class="adaptive-display">
        <div class="content">
            <div class="header">
                <h1>DARKRP</h1>
                <h2>Earn money through jobs, business, or crime</h2>
            </div>

            <br/><br/><br/>

            <div class="info">
                <p>Choose your role and build your empire</p>
            </div>
            
            <br/><br/>

            <div class="warning">
                RULES: No RDM (Random Death Match) • No PropKill • Respect RP Scenarios
            </div>
            
            <br/><br/>

            <div class="controls">
                <p>Q - Build Menu</p>
                <p>M - RP MENU</p>
                <p>V - Voice Chat</p>
            </div>
            

            
        </div>
        <div class="footer">
            DarkRP v1.0 • Report Bugs on Github
        </div>
    </div>
</root>

@code
{
}