@namespace Dxura.Darkrp.UI
@inherits Panel
@attribute [StyleSheet]

@if (Player is not { IsRespawning: true } || Player?.RespawnState == RespawnState.Immediate )
{
	return;
}


<root>
	<div class="default-respawner">
		<p class="label">Do not break NLR (Don't return to where you died for 120 seconds)</p>
		<p class="label">Respawning in @Respawner.GetRespawnTime()</p>
	</div>

</root>

@code
{
	public Respawner Respawner => Scene.GetAllComponents<Respawner>().FirstOrDefault();
	public Player? Player => Player.Local;

	protected override int BuildHash()
	{
		return HashCode.Combine( Player?.IsRespawning, Respawner.GetRespawnTime() );
	}
}
