@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

@namespace Dxura.Darkrp.UI

<root>
	<div class="menu">
        <p>Menu</p>
    </div>
    <div class="submenu">
        <div>
            <p> Utility </p>
        </div>
        <div>
            <p> Fun </p>
        </div>
        <div>
            <p> Placeholder </p>
        </div>
        <div>
            <p> Placeholder </p>
        </div>
    </div>
</root>

@code
{
    [Property] public EquipmentResource Toolgun { get; set; } = null!;

    public Player Player => PlayerState.Local.Player;
    protected bool IsActive { get; set; }

    protected override void OnTreeFirstBuilt()
	{
		BindClass( "active", () => IsActive );
	}

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine(IsActive);


    protected override void OnUpdate()
	{
        base.OnUpdate();

        if ( !Player.IsValid() ^ Player.CurrentEquipment.Resource != Toolgun )
            return;

        if ( Input.Pressed( "Use" ) )
        {
            Log.Info("Toggling Toolgun Radial Menu");
            IsActive ^= true;
        }
	}
}