@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

@namespace Dxura.Darkrp.UI

<root>
	<div class="menu">
        <p>Menu</p>
    </div>
    <div class="submenu">
        <div>
            <p> Utility </p>
        </div>
        <div>
            <p> Fun </p>
        </div>
        <div>
            <p> Placeholder </p>
        </div>
        <div>
            <p> Placeholder </p>
        </div>
    </div>
</root>

@code
{
    private Player Player => PlayerState.Local.Player;
    protected bool IsActive { get; set; }

    protected override void OnTreeFirstBuilt()
    {
        BindClass( "active", () => IsActive );
    }

    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine(IsActive);


    protected override void OnUpdate()
    {
        base.OnUpdate();

        if(Player.CurrentEquipment.Resource.Name != "Toolgun") return;

        Log.Info("test");

        if (Input.Pressed("Use") && !IsActive)
        {
            // Reset the mouse position to the center of the screen
            Mouse.Position = new(Screen.Width / 2, Screen.Height / 2);
        }


        if ( Input.Down("Use") )
        {
            IsActive = true;
        }

        if ( Input.Released("Use") )
        {
            IsActive = false;
        }
	}
}