@using Sandbox;
@using Sandbox.UI;

@namespace Dxura.Darkrp.UI
@inherits PanelComponent

<root>
	<div class="options">
		@foreach ( var grouping in TypeLibrary.GetMethodsWithAttribute<DeveloperCommandAttribute>().OrderBy( x => x.Attribute.Name ).GroupBy( x => x.Attribute.Group ) )
		{
			<div class="group">
				<label class="text white">@grouping.Key</label>
				@foreach ( var data in grouping )
				{
					<div class="button" onclick=@( () => InvokeMethod( data.Method ) )>@data.Attribute.Name</div>
				}
			</div>
		}
	</div>
</root>

@code
{
	protected bool IsActive { get; set; }

	private Dictionary<string, string> _developerSteamIds = new()
	{
		{ "Dimmerly", "76561198047807813" },
		{ "iJoshJenkins", "76561198027773037" }
	};

	protected override void OnTreeFirstBuilt()
	{
		BindClass( "active", () => IsActive );
	}

	protected void InvokeMethod( MethodDescription method )
	{
		method?.Invoke( null );
	}

	protected override void OnUpdate()
	{
		if ( Player.Local == null )
		{
			return;
		}

		if ( !_developerSteamIds.ContainsValue( Player.Local.Uid ) )
		{
			return;
		}

		if ( Input.Pressed( "DeveloperMenu" ) )
		{
			Log.Info( Player.Local.Uid );

			IsActive ^= true;
		}
	}
}
