@namespace Dxura.Darkrp.UI
@inherits Panel

<root>
	<h1>TODO Market (Gun dealers can buy weapons, change jobs)</h1>
	
	@if ( Player.Local?.Job.Name == "Gun Dealer" )
	{
		<BuyMenu></BuyMenu>
	}
</root>

@code
{

	protected override int BuildHash()
	{
		return HashCode.Combine( Player.Local?.Job.Name );

	}
}
