@namespace Dxura.Darkrp.UI
@inherits Panel

<root>
	<div style="display: flex; flex-direction: column; gap: 30px;">
		<p>Welcome to DarkRP, an non-serious, and fun roleplay game. We're drawing inspiration from the well-known game mode available on Garry's Mod.</p>

		<p>This game is still a work in progress, so please expect some bugs and inconsistencies.</p>
		
		<p><strong>THIS IS THE DEVELOPMENT VERSION</strong> - Play at your own risk. If you want a more consistent experience, please play the stable version at:
			<a href="https://sbox.game/sousoup/darkrp" target="_blank">https://sbox.game/sousoup/darkrp</a>.
		</p>

		<p>If you'd like to help out, you can join us on Discord or GitHub. Whether you're a developer, designer, or just a player, your involvement is highly valuable to us!</p>

		<strong>GITHUB (Original):</strong> <a href="https://github.com/sousou63/DarkRP" target="_blank">https://github.com/sousou63/DarkRP</a><br>
		<strong>GITHUB (Current):</strong> <a href="https://github.com/dxura/darkrp" target="_blank">https://github.com/dxura/darkrp</a><br>
		<strong>DISCORD:</strong> <a href="https://discord.gg/yBDk9Xr6VB" target="_blank">https://discord.gg/yBDk9Xr6VB</a>
	</div>
</root>

@code
{

}
