@using Sandbox;
@using Sandbox.UI;
@using Dxura.Darkrp.UI

@namespace Dxura.Darkrp.UI
@inherits PanelComponent

<root>
  @foreach ( var nourishment in NourishmentProvider.GetNourishmentByType(VendingMachine.NourishmentType) )
    {
      <div onclick="@(() => VendingMachine.OnItemBought(PlayerState.Local.Player, nourishment))">
        <p class="label">@( nourishment.Name )</p>
        <ModelIcon ref=@ModelIcon ModelPath=@nourishment.Model.ResourcePath />
        <p class="price">$ @( NumberUtils.FormatNumberWithSuffix( nourishment.Price ) )</p>
      </div>
    }
</root>

@code
{
   ModelIcon ModelIcon { get; set; } = null!;
  VendingMachine VendingMachine { get; set; } = null!;

  protected override void OnStart()
  {
    VendingMachine = GameObject.Parent.Components.Get<VendingMachine>();
      if (VendingMachine == null)
      {
          Log.Warning("Vending Machine Entity not found");
      }
  }
  protected override int BuildHash() => System.HashCode.Combine(VendingMachine.NourishmentType);
}