@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Dxura.Darkrp.UI

<root>
	<div class="name" style="width">Ore Vendor</div>
	<span class="info">Press "E" Button</span>
</root>



