@namespace Dxura.Darkrp.UI
@using Sandbox;
@inherits PanelComponent


<root>
    @if(IsVendorOpen)
    {
        <div class="main-frame">
            <div class="header">
                <h1 class="title">Ore Vendor</h1>
                <button class="close-button" onclick=@(() => CloseTab())>Close</button>
            </div>
            <div class="content">
                <div class="player-info">
                    <h2>Player Info</h2>
                    <p>Money: $@(PlayerState.Balance.ToString( "N0" ))</p>
                    <p>Your Ore: @(PlayerState.RockCount)</p>
                </div>
                <div class="selling">
               
                    <div class="ore">
                        <p>Diamond Ore</p>
                        <button class="sell-button" onclick=@(() => SellOres())>Sell</button>
                    </div>
                </div>
 
            </div>
        </div>
    }
</root>

@code
{
    [Property] public bool IsVendorOpen { get; set; } = false;

	/// The player state
	public PlayerState PlayerState => PlayerState.Local;

	void CloseTab()
	{
        Log.Info("Closing tab");
		IsVendorOpen = false;
	}

    void SellOres()
    {
        int amount;

        if (PlayerState.RockCount > 0)
        {
            amount = PlayerState.RockCount * 100;
            PlayerState.GiveMoney(+amount);
            Log.Info($"You have sold {PlayerState.RockCount} ores for ${amount}");
            Toast.Instance.Show($"[Ore Vendor] You have sold {PlayerState.RockCount} ores for ${amount}");
            PlayerState.SetRockAmount(0);
        }
        else
        {
            var message = "[Ore Vendor] You don't have any ores to sell!";
            Log.Info(message);
            Toast.Instance.Show(message);
        }			
    }

    protected override int BuildHash()
	{
		return HashCode.Combine(IsVendorOpen);
	}
}