@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Dxura.Darkrp.UI

<root>

	<div class="name" style="width">Rock Health: @_health</div>
	<ProgressBar style="height:16; background-color: red;" Value="@( _health )" width="150"/>
	<span class="job" style=""></span>

</root>

@code
{
	private float _health;

	protected override int BuildHash()
    {
		_health = this.GameObject.Parent.Components.Get<HealthComponent>().Health;
       return HashCode.Combine( _health );
    }

}


