PlayerNamePlate {
	height: 100%;
	width: 100%;
	background-color: #ffffff00;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-weight: bold;
	border-radius: 20px;

	.name {
		font-size: 30 px;
		color: #fff;
	}
	
	.job {
		font-size: 20 px;

	}
}
