@namespace Dxura.Darkrp.UI
@inherits Panel

@if ( !Player.IsValid() ) return;

<root>
	<label class="name" style="color:@JobColor">
		@Player.DisplayName
	</label>
</root>

@code
{
	public Player? Player { get; set; }

	private string JobColor => (Player?.Job.Color ?? Color.White).Hex;
}
