@namespace Dxura.Darkrp.UI
@inherits Panel
@attribute [StyleSheet]

@if ( !Player.IsValid() ) return;

<root>
	<label class="important">$@Player.Balance.ToString( "N0" )</label>
</root>

@code
{
	/// The player
	public Player Player => Player.Local;


	protected override int BuildHash()
	{
		if ( !Player.IsValid() ) return 0;
		if ( !Player.IsValid() ) return 0;

		return HashCode.Combine( Player?.Balance );
	}
}
