@using System.Text;
@using GameSystems.Jobs
@namespace Dxura.Darkrp.UI
@inherits Panel

@attribute [StyleSheet]

<root>
	<p style="color: @Job.Color.Hex">@Job.Name</p>
</root>

@code
{
	private static JobResource Job => PlayerState.Local.Player?.Job ?? JobProvider.Default();

	protected override int BuildHash()
	{
		return HashCode.Combine( Job );
	}
}
