@using System.Text;
@using GameSystems.Jobs
@namespace Dxura.Darkrp.UI
@inherits Panel

@attribute [StyleSheet]

<root class="flex justify-center align-center row ">
	<p style="color: @Job.Color.Hex">@Job.Name</p>
</root>

@code
{
	public JobResource Job => PlayerState.Local.Player.Job;

	protected override int BuildHash()
	{
		return HashCode.Combine( Job );
	}
}
