@namespace Dxura.Darkrp.UI
@attribute [StyleSheet]

<root>
	<div @ref=" Overlay" class="overlay mask-scope">
		<h1>You are spawn protected</h1>
	</div>
</root>

@code
{
	public Panel Overlay { get; set; }

	float GetOpacity()
	{
		if ( !Player.Local.IsValid() )
			return 0f;

		if ( !Player.Local.IsValid() )
			return 0f;

		if ( !Player.Local.HealthComponent.IsValid() )
			return 0f;

		if ( Player.Local.HealthComponent.IsGodMode )
			return 1f;

		return 0f;
	}

	public override void Tick()
	{
		if ( Overlay.IsValid() )
		{
			Overlay.Style.Opacity = GetOpacity();
		}
	}
}
